body {
  margin: 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inputPlayer, .suggestionBox {

    font-weight: 700 !important;
    padding: 20px !important;
    border: 1px solid #005864 !important;
    color: #005864 !important;
    position: relative !important;
    z-index: 3 !important;
    display: flex !important;
    margin:0 auto;


}


.test{

  justify-content: center !important;
}


.suggestionBox{
  cursor:pointer;
  border: 1px solid black;
}

.suggestionBox:hover{
  background-color: grey;
}


body {
  height: 100%;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

.testes{
  position: relative; 
  z-index: 1; 
}

.logo{

  width:2em;
}

.teamName{
  text-transform: capitalize;
}

.teamColumn{
  vertical-align: middle;
}

i[class*=arrow] {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid;
  margin: 1em;
  border-bottom: 0;
  border-left: 0;
  border-radius: 1px;
  text-indent: -624.9375rem;
}
i[class*=arrow][class*=-blue] {
  border-color: #2D86F7;
}

i[class*=arrow][class*=-up] {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
i[class*=arrow][class*=-down] {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.bigger{
  display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;

}

.answerDialog{
  margin: 0 auto;
    justify-content: center;
    vertical-align: middle;
    align-items: center;

}

.answerDialog .logo{
  display: block;
  margin: 0 auto;

}

.testes {

  position: relative; 
  
  z-index: 1;
}

.boxA {
  position: absolute;
  z-index: 99999;
  left: 0;
  right: 0;
  top:2em;
}

.boxB {
  position: absolute;
  left: 0;
  right: 0;
  top: 4em;
}

.suggestionBox{
  background-color: white;
}

.guessLogo {

  object-fit: fill;
  width: 100%;
  height: 100%;

}

.imgBox {

  width: 20em;
  height: 13em;
  display: flex;
  margin: 0 auto;
  margin-bottom: 2em;
}

.testes2 {

  padding: 2em;
}

.tableCountrle{

  overflow: scroll;
  margin-bottom: 0 !important;
}

.table-responsive {

  height: 30em;
}

.containerBox {

  display: none;
  width: 50%;
  justify-content: center;
  max-height: 15em;
  overflow-y: auto;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

html {
  height: 100%;
  background-color:#edeae5
}

table{

  border: 1px solid #005864 !important;
  background-color: white;
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}

/* custom colors  */
-primary::-webkit-scrollbar {
  background-color: #F5F5F5;
}
-primary {
  scrollbar-color: #4285f4 #f5f5f5;
}
-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4;
}


.tableFixHead          { overflow-y: auto; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 10; background-color: white;
}
/* Borders (if you need them) */

/* Borders (if you need them) */
